<div class="slideshow-container">
  <!-- Slide 1 -->
  <div class="slide fade">
    <img src="assets/images/Galle-Lighthouse.jpg" alt="Discover Galle">
    <div class="text-overlay">Discover Galle</div>
  </div>

  <!-- Slide 2 -->
  <div class="slide fade">
    <img src="assets/images/image2.jpeg" alt="Visit Galle">
    <div class="text-overlay animated-text">Visit Galle</div>
  </div>

  <!-- Slide 3 -->
  <div class="slide fade">
    <img src="assets/images/image3.jpeg" alt="Beautiful South">
    <div class="text-overlay">Beautiful South</div>
  </div>
</div>
