<header class="header">
  <nav>
    <ul>

    <div class="logo">Discover Galle</div>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/hotels">Hotels</a></li>
          <li><a routerLink="/restaurants">Restaurants</a></li>
          <li><a routerLink="/activities">Activities</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </nav>
      <div class="auth-buttons">
        <button class="signin">Sign In</button>
        <button class="signup">Sign Up</button>
      </div>

    </ul>
  </nav>
</header>
